*{
	margin:0px;
	padding: 0px;
}

body{
	width: 1100px;
	background-color: #f5f5f5;
}

.imageContainer{
	margin: 20px 0px 20px 20px;
}

.table-section{
	margin: 20px 0px 20px 20px;
	background-color: #ffffff;
}

td{
	padding: 5px;
}

.first{
	width: 200px;
}

.middle{
	width: 600px;
	text-align: center;
}

.last{
	width: 200px;
}